@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  height: auto !important;
  max-width: auto !important;
  min-width: auto !important;
  background-color: #f9f4f419;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #eeeef8;
  text-decoration: inherit;
  font-size: larger;
}
.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e5c8c8;
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: rgba(1, 5, 30, 0.625);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);

}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2em;
  background-color: rgba(1, 5, 30, 0.651);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
}

.containers{
  border-radius: 18px;
}


.main{
  border-radius: 4px !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url('../../public/5a0e800cf96350bffc91fbe118132f99.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0f0220;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #3e0325;
}
