/* Fonts of project */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --button-bg-color-black: #070707; /* Color de fondo del botón negro */
    --button-text-color-black: #F2F2F2; /* Color del texto del botón negro */
    --button-bg-color-white: #ebebeb; /* Color de fondo del botón blanco */
    --button-text-color-white: #070707; /* Color del texto del botón blanco */
  }


  
*{
  letter-spacing: .7px;
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: auto;
}

h1{
  @apply text-CWhite;
  @apply font-Playfair;
  @apply text-big;
  font-weight: 600;
}

h2{
  font-size: 14px;
  @apply font-Playfair;
  font-weight: 700;
}

p{
  @apply font-Lato;
  font-size: 14px;
  font-weight: 300;
}
.btn-black {
  background-color: var(--button-bg-color-black);
  color: var(--button-text-color-black);
  @apply font-Playfair;
  padding: 10px  30px;
  border-radius: 10px;
  font-weight: lighter;
  transition: .2s;
  cursor: pointer;
  &:hover{
      background-color: #1d1d1d;
  }
}

.btn-white {
  background-color: var(--button-bg-color-white);
  color: var(--button-text-color-white);
  @apply font-Playfair;
  padding: 10px  30px;
  border-radius: 10px;
  font-weight: 600;
  transition: .2s;
  cursor: pointer;

  &:hover{
    @apply bg-CGold;
  }
}

.btn-add{
  font-weight: 500;
  & i{
    font-size: 24px;
  }
}

.bx{
  font-size: 16px;
}

.icons-admin{
  font-size: 45px;
}


.admin-option{
  padding-left: 15%;

  & i{
    font-size: 22px;
  }
  & p{
    font-weight: 500 ;
    @apply text-baseSecundary;
  }


} 

.title i{
  font-size: 40px;
}



.social-media{
  font-size: 24px;
  transition: .3s;
  padding: 4px;
  border-radius: 50%;
  &:hover{
    @apply bg-CGold;
    @apply text-CBlack
    
  }
}


@media (max-width:768px){
  .btn-add{
    & i{
      font-size: 22px;
    }
  }

  .icon-table{
       font-size: 12px;   
  }
}